@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap');

*,
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
